.modal{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0 ,0, 0, 0.5);
    top: 0;
    z-index: 1;
}

.border{
    border: 1px solid red;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
}
.heading{
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.035em;
}


.rowsContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0.5rem;
}

.inputContainer ,.colorContainer{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.name,.colortext{
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0.035em;
    text-align: left;
}

.nameInput{
    border:2px solid #CCCCCC;
    padding: 0.5rem 1.5rem ;
    width: 45vh;
    border-radius:1.5rem ;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.colors{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    >*{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        cursor: pointer;
    }
}
        
.btncontainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: .5rem;
    .btn{
        background-color: black;
        color: white;
        border: none;
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 400;
        padding: .3rem 1.7rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }
}


.inputErrContainer,.colorErrContainer{
    display: flex;
    flex-direction: column;
}

.error{
    height: 0px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #F81212;
    margin-left: 3px;
    margin-top: 3px;
}