.main{
    width: 100vw;
}

.nav{
    height: 13vh;
    background: #E8E8E8;
    display: flex;
    align-items: center;
    gap: 0.8rem;


    >.logo{
        min-height: 3.43rem;
        min-width: 3.43rem;
        border-radius: 50%;
        color: white;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
    >.data{
        >.logoText{
            font-family: Roboto;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5rem;
        }
    }

}



.prevNotes{
    background-color: antiquewhite;
    height: 65vh;
    overflow-y: scroll;

    >.table{
        padding: 1rem 1.5rem;

        >.tbody{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            >.row{
                display: flex;
                gap: 2rem;

                >.rowData{
                    font-family: Roboto;
                    color: black;
                    font-size: 1.1rem;
                    font-weight: 500;
                    letter-spacing: 0.01em;
                    >.time{
                        color:#353535;
                        width: max-content;
                    }
                }
            }
        }
    }
}
.wrap{
    width: 65vw;
    overflow-y: scroll;
}



.footer{
    width: 100%;
    padding: .8rem;
    background: #E8E8E8;
    border-radius: 0 0 0 0.8rem;

    >textarea{
        padding: 0.5rem;
        width: 100%;
        height: 17vh;
        border: #CCCCCC;
        border-radius: 0.5rem;
        resize: none;
        /* position: relative; */
    }
}

textarea,textarea::placeholder{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
}

.sendicon{
    position: absolute;
    bottom: 4vh;
    left: 96vw;
    cursor: pointer;
    color: #ABABAB;
    
}
.backbtn{
    display: none;
}


.prevNotes::-webkit-scrollbar {
    width: 0.5rem;
}
.prevNotes::-webkit-scrollbar-thumb {
    background-color: rgb(250, 199, 132);
    border-radius: 5px;
}
.prevNotes::-webkit-scrollbar-track {
    background-color: transparent;
}


@media screen and (min-width: 370px) and (max-width: 480px) {
    .main{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }  

    .nav{
        height: 9vh;
        width: 100%;
        gap: 0.8rem; 
        overflow: auto;
        justify-content: flex-start;

        >.logo{
            height: 3rem;
            width: 3rem;
            font-size: 1.4rem;
            margin-left: 0rem;
        }   
        >.data{
            width: 90%;
            >.logoText{
                font-size: 1.5rem;
                overflow-y: scroll;
            }
        }
        
    }

    .prevNotes{
        height: 70vh; 
    }
    .row{
        gap: 1rem;
    }
    .wrap{
        width: 51vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .footer{
        width: 100%;
        height: 20.5vh;
    }   
    .sendicon{
        position: relative;
        bottom: 5vh;
        left: 84vw;
    }
    .back{
        width: 50px;
    }

    .backbtn{
        display: block;
    }
}

@media screen and (min-width: 280px) and (max-width: 370px){ 
    .nav{
        height: 9vh;
        width: 100%;
        gap: 0.8rem; 
        overflow: auto;
        >.logo{
            height: 2.5rem;
            width: 2.5rem;
            font-size: 1.2rem;
            margin-left: 0rem;
        } 
        >.data{
            width: 60vw;
            >.logoText{
                font-size: 1.5rem;
                overflow-y: scroll;
            }
        }  
    }   
    .prevNotes{
        height: 70vh; 
    }
    .row{
        gap: 0rem;
    }
    .wrap{
        width: 42vw;
        overflow-y: scroll;
    } 

    .sendicon{
        position: relative;
        bottom: 4vh;
        left: 82vw;
    }
    .backbtn{
        display: block;
    }
}