
.heading{
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0 0 1rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creategrpbtn{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 1.2rem;
    letter-spacing: 0.1em;
    margin: 1.5rem 0 .4rem 0;
    border: none;
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: 4rem;
    cursor: pointer;   
    
    >.btnText{
        font-family: Roboto;
        font-size: 1rem;
    }
}

.allGroups{
    height:84vh;
    width: 20vw;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.select{
    margin-left: 0.5rem;
    width: 18.17vw;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    gap: 1rem;
    cursor: pointer;

    >.grpLogo{
        min-height: 3.43rem;
        min-width: 3.43rem;
        border-radius: 50%;
        color: white;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    >.grpName{
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 500;
        overflow-x: auto;
    }
}

.select{
    box-sizing: content-box;
    padding: 0.8rem 0.5rem ;
    border-radius: 2rem 0 0 2rem;
}


/* For webkit-based browsers */
::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}


@media screen and (min-width: 370px) and (max-width: 480px){
    .main{
        overflow: hidden ;
    }
    .heading{
        font-size: 1.8rem;
        font-weight: 500;
        padding: 0.5rem 0 0 1rem;
    }  
    .creategrpbtn{
        gap: 0.8rem;
        padding: 0.8rem 3rem;
        letter-spacing: 0.2em;
        margin: 1.5rem auto;       
        >.btnText{
            font-size: 1.3rem;
        }
    }
    
    .allGroups{
        width: 100vw;
        overflow-x: hidden;
        /* overflow-y: scroll; */
        margin-left: 0rem;
    } 
    
    .select{
        margin-left: 1rem;
        width: 100%;
        gap: 2rem;   
        >.grpLogo{
            height: 4rem;
            width: 4rem;
            font-size: 1.8rem;
        }   
        >.grpName{
            font-size: 1.4rem;
            /* overflow-x: auto; */
        }
    }
}

@media screen and (min-width: 280px) and (max-width: 370px) {   
    .creategrpbtn{
        gap: 0.4rem;
        padding: 0.5rem 1.3rem;
        letter-spacing: 0.1em;       
        >.btnText{
            font-size: 1.2rem;
        }
    }
    
    .allGroups{
        width: 100vw;
        overflow-x: hidden;
        margin-left: 0rem;
    } 
    
    .select{
        margin-left: 1rem;
        width: 100%;
        gap: 1rem;   
        >.grpLogo{
            height: 3.4rem;
            width: 3.4rem;
            font-size: 1.5rem;
        }   
        >.grpName{
            font-size: 1.3rem;
        }
    }
}
